aiohttp==3.6.2
appdirs==1.4.4
asgiref==3.2.7
async-timeout==3.0.1
attrs==19.3.0
beautifulsoup4==4.9.1
boto3==1.14.2
botocore==1.17.2
bs4==0.0.1
certifi==2020.4.5.1
chardet==3.0.4
cssselect==1.1.0
Django==3.0.6
django-crispy-forms==1.9.1
django-filter==2.3.0
django-storages==1.9.1
docutils==0.15.2
fake-useragent==0.1.11
gunicorn==20.0.4
humanize==2.4.0
idna==2.9
jmespath==0.10.0
lxml==4.5.1
multidict==4.7.6
parse==1.15.0
Pillow==9.0.0
psycopg2-binary==2.8.5
pyee==7.0.2
pyppeteer==0.2.2
pyquery==1.4.1
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
requests-html==0.10.0
s3transfer==0.3.3
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
tqdm==4.46.0
urllib3==1.25.9
w3lib==1.22.0
websockets==8.1
whitenoise==5.1.0
yarl==1.4.2
