{% load static %}

<header class="main-header">
    <div class="container-fluid pl-0 pr-0">
        <div class="row">
            <div class="col-xl-1 col-sm-4 col-md-2 sm-order1">
                <div class="logo-wrapper">
                    <a href="{% url 'home_page' %}">
                        <img src="{% static 'images/logo.png' %}" alt="Логотип" class="logo_img-responsive">
                    </a>
                </div>
            </div>

            <form class="col-xl-5 col-lg-4 col-md-3 col-3 pl-0 pr-0" action="{% url 'new_query' %}">
                <div class="search-box">
                    <button type="submit" class="search-btn"><i class="fas fa-search"></i></button>
                    <input class="search-txt" type="search" name="q" placeholder="Type Steam id64 to search">
                </div>
            </form>

            <div class="col-xl-5 col-sm-12 col-md-6 sm-order3">
                <nav class="main-nav">
                    <ul class="menu-list">
                        <li class="menu-list-item">
                            <a href="{% url 'help' %}" class="menu-list-link s">Help</a>
                        </li>
                        <li class="menu-list-item">

                            <a href="{% url 'profile' %}" class="menu-list-link">Profile <u>`{{ request.user }}`</u></a>
                            <img src="{{ request.user.profile.profile_pic.url }}" alt="" class="profile_img">
                        </li>
                        {% if not request.user.is_authenticated %}
                            <li class="menu-list-item">
                                <a href="{% url 'login' %}" class="menu-list-link">Log in</a>
                            </li>
                        {% endif %}

                        <li class="menu-list-item">
                            <a href="{% url 'logout' %}" class="menu-list-link">Log out</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>