{% load static %}

   <header class="main-header">
 		<div class="container-fluid pl-0 pr-0">
 			<div class="row">
 				<div class="col-xl-1 col-sm-4 col-md-2 sm-order1">
 					<div class="logo-wrapper">
 						<img src="{% static 'images/cuca_logo.png' %}" alt="Логотип" class="logo_img-responsive">
 					</div>
 				</div>

 				<form class="col-xl-5 col-lg-4 col-md-3 col-3 pl-0 pr-0">
					<div class="search-box">
                  		<button type="submit" class="search-btn"><i class="fas fa-search"></i></button>
                  		<input class="search-txt" type="search" name="q" placeholder="Type to search">
                  	</div>
               </form>

 				<div class="col-xl-5 col-sm-12 col-md-6 sm-order3">
 					<nav class="main-nav">
 						<ul class="menu-list">
 							<li class="menu-list-item">
 								<a href="#" class="menu-list-link s">Help</a>
 							</li>
 							<li class="menu-list-item">
 								<a href="#" class="menu-list-link">Profile</a>
 							</li>
 							<li class="menu-list-item">
 								<a href="#" class="menu-list-link">Sign in</a>
 							</li>
 							<li class="menu-list-item">
 								<a href="#" class="menu-list-link">Log out</a>
 							</li>
 						</ul>
 					</nav>
 				</div>
 			</div>
 		</div>
 	</header>