{% extends 'base.html' %}
{% load static %}
{% block content %}

    <br><br>
    <center><h1>Help/About us</h1><br>
        <hr>
        <h3>This project was created as a part of our univerctiy course by three students.</h3><br>

        <h3>Of course, none of us is a experienced developer,
            but we tried our best to make the most out of recourses we<br>
            had. Some bugs may be present in this project. If you want to report it, <br>
            or want to suggest an idea, email
            us at <u>"kukarachac.info@gmail.com"</u></h3>
        <h3>Anyway, hope you will find functionality of our project useful and make the most out of it.
            <br>Have fun and
            wash your hands.</h3></center>
    <hr>
{% endblock %}