{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}




{% block content %}


    <section class="profile-info" style="margin: 10px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">

                    <div class="profile">
                        <div class="img-img" alt="img"
                             style="background-image: url({{ request.user.profile.profile_pic.url }});">
                        </div>
                    </div>

                    <div class="info">
                        <form method="POST" action="" enctype="multipart/form-data">
                            {% csrf_token %}

                            {{ form|crispy }}

                            <input class="btn btn-primary" type="submit" name="Update Information">
                        </form>
                        Don't know your Steam id64? Use <a href="https://steamid.xyz/">steamid.xyz</a> to get it.

                    </div>

                    <div class="btmp">
                        <a href="{% url 'home_page' %}"><h3 class="text"><i class="fas fa-arrow-left"></i> Back to main
                            page</h3></a>
                    </div>

                </div>


                <div class="col-4">
                    <div class="history-my">
                        <div class="sss">
                            <a href="#">
                                <ul>
                                    <li>My inventory:</li>
                                    <li></li>
                                </ul>
                            </a>
                        </div>
                        {% for query in my_query %}
                            <div class="sss">
                                <a href="{% url 'query_detail' query.id %}">
                                    <ul>
                                        <li>Date: {{ query.time_q }}</li>
                                        <li>Total price: {{ query.total_price }}$</li>
                                    </ul>
                                </a>
                            </div>

                        {% endfor %}


                    </div>
                </div>

                <div class="col-5">
                    <div class="history-other">
                        <div class="sss">
                            <a href="">
                                <ul>
                                    <li></li>
                                    <li>Friends inventory:</li>
                                </ul>
                            </a>
                        </div>
                        {% for query_f in friends_query %}
                            <div class="sss">
                                <a href="{% url 'query_detail' query_f.id %}">
                                    <ul>
                                        <li>Date: {{ query_f.time_q }}</li>
                                        <li>Total price: {{ query_f.total_price }}$</li>
                                        <li>Profile: {{ query_f.profile_create }}</li>
                                    </ul>
                                </a>
                            </div>

                        {% endfor %}


                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}








